<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app>
<web-app>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu2050.framework.servlet.FrontServlet</servlet-class>
        <init-param>
            <param-name>root</param-name>
            <param-value>project.controllers</param-value>
        </init-param>
        <init-param>
            <param-name>sessionLogin</param-name>
            <param-value>Connexion</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     
</web-app>

